<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Aviary</string>
	<key>author</key>
	<string>Aviary</string>
	<key>url</key>
	<string>http://www.aviary.com/</string>
	<key>version</key>
	<string>2.6.0</string>
	<key>arc</key>
	<true/>
	<key>targetOS</key>
	<string>&gt;= iOS4.0</string>
	<key>licenseType</key>
	<string></string>
	<key>licenseBody</key>
	<string></string>
	<key>detailText</key>
	<string>Aviary provides developers with a robust, customizable photo editor that can be plugged into apps on iOS, Android, Windows Phone and HTML5 in minutes.</string>
	<key>controller</key>
	<string>AFSDKDemoViewController</string>
</dict>
</plist>
