<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>Camera</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>DLCImagePickerController</string>
				<key>detail</key>
				<string>GPUImageを使ったInstagramのようなカメラ</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>GPUImage</string>
				<key>detail</key>
				<string>OpenGLを利用したリアルタイムフィルタ</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Aviary</string>
				<key>detail</key>
				<string>多くのPlatformに対応しているフォトエディタ</string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Progress</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>MBProgressHUD</string>
				<key>detail</key>
				<string>イケてるインジケーター</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>SVProgressHUD</string>
				<key>detail</key>
				<string>シンプルで使いやすいインジケーター</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>DDProgressView</string>
				<key>detail</key>
				<string>Twitterに似たプログレスバー</string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>View</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>KLNoteViewController</string>
				<key>detail</key>
				<string>Evernoteに似たUI</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>MCSwipeTableViewCell</string>
				<key>detail</key>
				<string>Mailboxに似たスワイプ機能を持ったUI</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>SVSegmentedControl</string>
				<key>detail</key>
				<string>UISegmentedControlのカスタム版</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>ZGParallelView</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>TMQuiltView</string>
				<key>detail</key>
				<string>Pinterest風のTableView</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>KNSemiModalViewController</string>
				<key>detail</key>
				<string>モーダル表示時にアニメーション効果を追加する</string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Notification</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>NoticeView</string>
				<key>detail</key>
				<string>TweetBot風のNoticeコンポーネント</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>AJNotificationView</string>
				<key>detail</key>
				<string>キレイなアニメーションがついたNoticeコンポーネント</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>KGStatusBar</string>
				<key>detail</key>
				<string>MailBox app風ステータスバー</string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Popover</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>FPPopover</string>
				<key>detail</key>
				<string>カスタマイズが簡単なUIPopoverController</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>WEPopover</string>
				<key>detail</key>
				<string>汎用的なUIPopoverController</string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Web View</string>
		<key>rows</key>
		<array/>
	</dict>
	<dict>
		<key>section</key>
		<string>Color</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>EDColor</string>
				<key>detail</key>
				<string>UIColorをHex,HSB,HSL,LABに対応できる</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>KZColorPicker</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color-Picker-for-iOS</string>
				<key>detail</key>
				<string>シンプルで分かりやすいカラーピッカー</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>ColorPopover</string>
				<key>detail</key>
				<string>Popoverで色を選択できる</string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>TextView</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>GrowingTextView</string>
				<key>detail</key>
				<string>SMS app風TextView</string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Other</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>iCarousel</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>REMenu</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>MFSideMenu</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>CXAImageSupport</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
