<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>Progress</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>MBProgressHUD</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>SVProgressHUD</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>DDProgressView</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>View</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>KLNoteViewController</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>MCSwipeTableViewCell</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>SVSegmentedControl</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>ZGParallelView</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>TMQuiltView</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>KNSemiModalViewController</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Camera</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>DLCImagePickerController</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>GPUImage</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Aviary</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Notification</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>NoticeView</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>AJNotificationView</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>KGStatusBar</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Popover</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>FPPopover</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>WEPopover</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Web View</string>
		<key>rows</key>
		<array/>
	</dict>
	<dict>
		<key>section</key>
		<string>Color</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>EDColor</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>KZColorPicker</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Color-Picker-for-iOS</string>
				<key>detail</key>
				<string>シンプルで分かりやすいカラーピッカー</string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>ColorPopover</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>TextView</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>GrowingTextView</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Other</string>
		<key>rows</key>
		<array>
			<dict>
				<key>name</key>
				<string>iCarousel</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>REMenu</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>MFSideMenu</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>CXAImageSupport</string>
				<key>detail</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
